@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-bold.woff?a762a767a3459fec2195da1373ebf0b1) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-bold.woff?a762a767a3459fec2195da1373ebf0b1) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/iransans-light.woff?469a8f6aa5b4631045b7d922102392ac) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/iransans.woff?df14582918ca379a280e453bb3cc6ba5) format("woff")
}

@font-face {
    font-family: iransans-num;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-fa-num-bold.woff?e836ee3ec82a8794c92cc132e6351695) format("woff")
}

@font-face {
    font-family: iransans-num;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/iransans-fa-num-light.woff?1affe2af4bb70abb35723371a8d8dbaf) format("woff")
}

body {
    font-family: iransans;
    width: 100%;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/debut_light.png);
    position: relative;
}

body, ol, table, ul {
    margin: 0;
    padding: 0

}

.bold {
    font-weight: bold;
}

.col, .full-width, .wrap {
    width: 100%
}

html {
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a {
    text-decoration: none !important;
    color: #333;
}

.s-font {
    font-size: 11px !important;
}

.xs-font {
    font-size: 9px !important;
}

.red-text {
    color: #d83d3a !important;
}

.over-x {
    overflow-x: auto !important;
}

.flex {
    display: inline-flex !important;
}

.gray-text {
    color: #f1dcdc;
}

.green-text {
    color: #35d05b;
}

.pointer {
    cursor: pointer;
}

.scale {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}

.relative {
    position: relative !important;
}

i {
    color: #333333d1;
}

.box-pd {
    padding: 20px;
}

.m-t-b {
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 5;
}

.m-t {
    margin-top: 15px;
    z-index: 5;
}

.m-b {
    margin-bottom: 15px;
    z-index: 5;
}

.border-right {
    border-right: 1px solid #dddddd;
}

.border-top {
    border-top: 1px solid #dddddd;
}

.border-left {
    border-left: 1px solid #dddddd;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
}

.p-t-b {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    z-index: 5;
}

.p-t {
    padding-top: 15px !important;
    z-index: 5;
}

.p-b {
    padding-bottom: 15px !important;
    z-index: 5;
}

.no-pad {
    padding: 0 !important;
}

.no-rad {
    border-radius: 0 !important;
}

.no-hover:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.23) !important;
}

.no-border {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.padd {
    padding: 20px;

}

.border-dashed {
    width: 100%;
    border-bottom: 1px dashed #599dcc;
    margin-bottom: 10px;
}

.btn-silver {
    background-color: #c0c0c0 !important;
}

.btn-green {
    background-color: #35d05b !important;
    color: white !important;
    border-bottom: 2px solid #2c9f4f !important;
}

.btn-green:active {

    border-bottom: 0px solid #2c9f4f !important;
}

.btn-light-green {
    background-color: #38cca1 !important;
    border-bottom: 2px solid #299576 !important;

    color: white !important;

}

.btn-light-green i {

    color: white !important;

}

.btn-light-green:active {

    border-bottom: 0px solid #2c9f4f !important;
}

.btn-red {
    background-color: #e54c5d !important;
    color: white !important;
    border-bottom: 2px solid #c64656 !important;

}

.btn-red:active {

    border-bottom: 0px solid #2c9f4f !important;
}

.btn-gold {
    background-color: gold !important;
}

.btn-bronze {
    background-color: rgba(223, 161, 40, 0.9) !important;
    color: white;
}

.text-silver {
    color: silver !important;
}

.text-gold {
    color: gold !important;
}

.text-bronze {
    color: rgba(223, 161, 40, 0.9) !important;

}

.show {
    display: block !important;
}

/*header*/
.header-logo {
    position: fixed;
    z-index: 99999999999;
    right: 20%;
    top: 15px;
    height: 10%;

}

.header {
    padding: 0 0;
    position: fixed;
    color: white;
    top: 8%;
    width: 20%;
    height: 92%;
    padding-bottom: 20px;
    left: 1%;
    z-index: 9999;
    -o-box-shadow: 0 1px 2px #13171a;
}

.header .log-in {
    width: 100%;
    /* margin-top: 25%; */
    cursor: pointer;
    margin: 0 auto;
    outline: 0;
    font-size: 17px;
    margin-top: 16px;
    background-color: #ffffff4a;
    color: #333333b5;
    /* border: 1px solid #1e48a8; */
    border-radius: 3px;
    box-shadow: 0 3px 8px -1px #0000005e;
    height: 40px;
    /* padding-top: 3px; */
    border: 0;

}

.header .item {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    background-color: #484848;
    overflow: hidden;
}

button.item {
    outline: 0;
    border: 0;
}

button.item .r-part, button.item .l-part {
    top: 0;
}

.header .item .r-part {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    padding-top: 10px;
    background-color: #eeecea;
    color: #333;
    border: 1px solid #484848;
    transition: .5s all ease-out;

}

.header .item .r-part:hover {
    width: 100%;
    z-index: 44;
}

.header .item .l-part:hover {
    width: 100%;
    z-index: 44;
}

.header .item .l-part {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 6px;
    background-color: #484848;
    color: #fff;
    font-size: 26px;
    border: 1px solid #484848;
    transition: .5s all ease-out;

}

.header .item .l-part i {
    font-size: 21px;
    padding-top: 3px;
    color: white;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 3px;
    cursor: pointer;
}

.logo img {
    height: -webkit-fill-available;
}

.log-in i {
    color: white !important;
}

.main {
    position: relative;
    width: 75%;
    height: 80%;
    top: 10%;
    right: 3%;
    box-shadow: 0 0 10px 0 black;
}

.service {
    position: relative;
    width: 75%;
    height: 80%;
    top: 10%;
    right: 3%;
}

.slider-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-img img {
    width: 100%;
    height: 100%;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    bottom: 20px !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 24px !important;
    content: '•';
    opacity: 1 !important;
}

.info {
    width: 50%;
    position: absolute;
    top: 30%;
    height: 50%;
    right: 25%;

}

.info .info-head {
    color: #cca876 !important;
    font-size: 22px;
}

.info .info-head:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    opacity: .36;
    border-bottom: 1px solid;
}

.info .info-head:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    opacity: .36;
    border-bottom: 1px solid;
}

.info .info-main {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed white;
}

.service .item {
    width: 46%;
    margin-right: 2%;
    margin-top: 5%;
    border-right: 4px solid #607D8B;
    background-color: rgba(46, 109, 164, 0.07);
    min-height: 40%;
}

.service .item .text {
    text-align: right;
    padding: 10px;
}
.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    float: right;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.give-time{
    position: relative;
    width: 75%;
    height: 60%;
    top: 22%;
    right: 3%;
}
.panel-primary {
    border-color: #b9b5b2!important;
}
.pan-head{
    color: #333;
    background-color: #b9b7b357!important;
     border-color: rgba(192, 192, 192, 0)!important;
}